body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
}

header nav {
  padding: 20px 0 !important;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  padding: .7rem 1rem;
  list-style: none;
  border: 2px solid white;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}

header nav ul li a {
  color: #152724;
}

header nav ul li a:hover {
  text-decoration: none;
  color: #152724;
}

header nav ul li:hover {
  border-color: #2C988E;
  color: #152724;
}

header nav ul .sign__up {
  background-color: #07EDD6;
}

header nav ul .sign__up a {
  color: black !important;
}

header nav ul .sign__up:hover {
  background-color: #06C7B4;
}

header nav ul .sign__up:hover a {
  color: white !important;
}

footer {
  background-color: #152724;
  color: #E5FDF8;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
}

footer a {
  color: #E5FDF8;
}

footer a:hover {
  color: #10d3aa;
  text-decoration: none;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer ul li:nth-child(1) {
  font-size: 22px;
  color: white;
  font-weight: 500;
  padding-bottom: 1rem;
}

footer i {
  margin: 0 10px;
  font-size: 25px !important;
}

footer .trademark {
  border-top: 1px solid rgba(122, 122, 122, 0.5);
}
