* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
}

.row  {
    width: 100%;
}

.spanGuide a {
    color: peru;
}

.btn {
    background-color:  #152724!important;
}

#particles-js {
    
    height: 100vh;
    
}