.content {
    border: 1px solid #000;
    min-height: 700px;
}

.flex-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.flex-content a {
    padding: 20px;
    color: #333;
}

.flex-content a:hover {
    text-decoration: none;
    color: #07EDD6;
}

.flex-content a i {
    padding: 5px;
    font-size: 20px;
    color: #333;
}

.btn a{
    border: 2px solid #07EDD6;
    border-radius: 10px;
    padding: 10px 20px;
}

.btn a:hover {
    color: #333;
    background-color: #06C7B4;
    font-weight: 500;
}

.section-one {
    /* border: 1px solid #000; */
    display: block;
    min-width: 300px;
}

.section-two {
    /* border: 1px solid #000; */
    display: inline-block;
}

.left {
    /* border: 1px solid #000; */
}

.right {
    /* border: .5px solid #000; */
}