@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

        *{
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            margin: 0;}
        
        body{
            background-color: #F2F3F3;
            margin: auto;
        }
        .container-a{
            display:flex;
            background: white;
            font-size: 0.8em !important;
            max-height: 60px;
        }

        /* .container-b{
            display:flex;
            background: white;
            border: 2px solid #0ABAB5;
            flex: 1;
            padding:10px auto 10px auto;
        } */
        .container-a > div{
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
            font-size: 1rem;
        }
        .box-1{
            color: #C4C4C4;
            flex-flow: column wrap;
            flex-grow: 1;
            color: #C4C4C4;
        }
        
        .container-a>.box-2{
            flex:1;
            color: #C4C4C4;
            
        }
        
        .container-a>.box-3{
            flex:2;
            cursor: pointer;
            
        }
        .container-a>.box-4{
            flex:4;
            
        }
        .box-1:hover, .box-2:hover, .box-3:hover {
            background:#0ABAB5;
            transition: all 0.3s ease 0s;
            border-color: #0ABAB5;
            color: white;
            cursor: pointer;

        }
        .container-a>.box-5{
            flex:2; 
            background: #0ABAB5;
            cursor: pointer;
            border: none;
        }
        .container-a>.box-5:hover{
            background:  rgb(5, 128, 123);
            transition: all 0.3s ease 0s;
        }

        .sendInvoice {
            color: white;
            border: none;
            background:none;
            height: 100%;
            cursor: pointer;
        }

        img:hover{
            color: white;
        }

        .card {
            border: 0px
        }
        
        .mainContent {
            margin-left: 20px;
            margin-right: 20px;
            margin: auto;
            margin-top: 100px;
            max-width: 550px;
            position: relative;
            background: #FFFFFF;
            /* Secondary blue */

            border: 5px solid #0ABAB5;
            box-sizing: border-box;
        }
        
        .mainContentBelowLogo {
            margin-left: 20px;
            margin-right: 20px;
        }
        
        .topMenu {
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px
        }

        .editInvoice {
            background-color: #00FFA3;
            color: #333333;
            font-weight: 700;
            border: none;
            border-radius: 0%;
            font-size: 0.8rem;
            padding-top: 10px;
            padding-bottom: 10px;
            max-width: 200px;
        }

        .editInvoice:hover {
            background-color: #03E493;
            color: #333333;
        }

        .invoiceSettings{
            color: #B1B1B1;
            font-size: 0.8em;
        }

        .invoiceSettings p{
            margin-top: auto;
            margin-bottom: auto;
        }
        
        .clientLogo {
            position: relative;
            width: 120px;
            height: 120px;
            margin: auto;
/*
            left: 610px;
            top: 390.5px;
*/
        }
        
        .addressAndPayment{
            margin: auto;
            font-size: 0.8em;
            margin-top: 30px;
        }
        
        .address {
            width: 99px;
            height: 77px;
            margin: auto;

        }
        
        .payment {
            max-width: 300px;
            font-weight: bold;
        }
        
        .issueDate {
            margin-right: 30px;
        }
        
        .paymentButton {
            font-style: normal;
            font-weight: bold;
            font-size: 1em;
            border: 0px;
            border-radius: 0px;
            line-height: 32px;
            text-align: center;
            background-color: #0ABAB5;
            color: #FFFFFF;
            padding: 2px;
        }
        
        .invoiceDetails {
            margin-left: auto;
            margin-right: auto;
        }


        th, td {
            padding-left: 0px !important;
            padding-right: 28px !important;
        }

        .table-card {
            width: 100%;
        }

        .card-body {
            margin: 0px;
            padding: 0px !important;
            width: 100%
        }

        .bottomSpace{
            margin-bottom: 50px;
        }

        .address{
            margin-right: 30px;
        }

        .menuForSmallScreens {
                display: none;
            }

        
        @media only screen and (max-width: 600px) {
            .mainContent{
                margin-top: 50px;
            }

            .addressCard{
                display: none;
            }

            .addressAndPayment.row {
                padding: 0% !important;
            }
            .payment{
                margin-left: auto !important;
                margin-right: auto !important;
                margin-bottom: 20px !important;
                width: 100% !important;
                max-width: 100% !important;
                 
            }

            .menuForLargeScreens {
                display: none;
            }

            .menuForSmallScreens {
                display: flex;
            }
        }